*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info

# CDK asset staging directory
.cdk.staging
cdk.out


.coverage
test_unit_coverage.xml
test_unit_results.xml

test_integ_coverage.xml
test_integ_results.xml

